|===
    |Path|Type|Description|Optaional|Constraint

{{#fields}}
    |{{path}}
    |{{type}}
    |{{description}}
    |{{#optional}}Y{{/optional}}
    |{{#constraint}}{{.}}{{/constraint}}

{{/fields}}
|===
ㅇ